# Mac OS
.DS_Store

# Bower
bower_components/
node_modules/

# Bundler
.bundle/

# Compass
.sass-cache/
images/icon-*.png
distribution/fonts/*.eot
distribution/fonts/*.svg
distribution/fonts/*.ttf
distribution/fonts/*.woff*
distribution/scripts/*.js
distribution/styles/*.css
distribution/*.hot-update.json

# Pow/RVM
.powenv
.powrc
.rvmrc
tmp/
