/*----------[ pagination ]------------------------------------------------------
| Styles for Flickr-style pagination.
*/
.pagination {
  margin-top: $body-text-line-height / 2;

  white-space-collapse: discard;

  .first,
  .prev,
  .page,
  .next,
  .last {
    display: inline-block;

    margin-right: $horizontal-spacing / 2;
    border-radius: $default-border-radius;

    background-color: darken($greyish-white, 3);

    a {
      display: block;

      text-decoration: none;
    }

    a,
    &.current,
    &.gap {
      padding: $vertical-nudge $horizontal-spacing / 2;

      background-color: transparent;
    }
  }
}
