/*-----[ font-weight-tester ]---------------------------------------------------
*/
#font-weight-tester {
  font-family: 'Open Sans', $body-text-family;

  .page {
    margin: $section-spacing auto;
    max-width: 40em;
  }

  @each $weight in (100, 200, 300, 400, 500, 600, 700, 800, 900) {
    .w#{$weight} {
      position: relative;
      font-weight: $weight;

      &:before {
        position: absolute;
        left: -100px;
        width: 80px;
        text-align: right;
        color: $secondary-text-color;
        font-weight: normal;
        content: '#{$weight}';
      }
    }
  }

  code {
    @include keep-together;
  }
}
